<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoRenderVideo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoRenderVideo.Properties.Settings>
            <setting name="FolderAmNen" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderSoundNhac" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderHinhAnh" serializeAs="String">
                <value />
            </setting>
            <setting name="SoLuongToiDa" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SoPhutDauRa" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SoLuongFileRender" serializeAs="String">
                <value>1</value>
            </setting>
        </AutoRenderVideo.Properties.Settings>
    </userSettings>
</configuration>